.One{
    background-color: blueviolet;
    font-size: 25px;
   text-align: center;
   border: 50px;
   border-color:blue;
}
h1{
    
}
1{
background-color:blue;
font-size:20px;
}
2{
    background-color: yellow;
    font-size:20px;
}
3{
    background-color: green;
    font-size: 20px;
}
4{
color:blue;
background-color:yellow;
}
5{
    color:black;
    background-color:blue;
}
